<div class="author">
  <div class="author--media">
    <nav class="fabs">
      <a class="fab large ripple twitter" href="https://twitter.com/javi_576">
        <i class="mdi mdi-twitter"></i>
      </a>
      <a class="fab large ripple github" href="https://github.com/jcampana">
        <i class="mdi mdi-github-circle"></i>
      </a>
    </nav>
    <img class="image" src="{{image}}" />
  </div>
  <div class="author--info">
    <h5 class="name">{{name}}</h5>
    <p class="bio">{{bio}}</p>
  </div>
</div>
